/*Personalizacion sobre Bootstrap*/

*{margin: 0;
    padding: 0;
    box-sizing: border-box;}
    
    /*FUENTES*/
    @font-face {
      font-family: "Cinzel-Regular" "Cinzel-Medium" "Cinzel-SemiBold";
      src: url(../assets/fonts/Cinzel-Regular.ttf);
      font-family: "Lancelot-Regular";
      src: url(../assets/fonts/Lancelot-Regular.ttf);
    }
    p{ font-family: "Lancelot-Regular";
       font-size: 1.3rem;}
  
  /*BODY*/
  /*HEADER*/
  
    .header{background-color: rgb(6, 1, 1);
            color: goldenrod;
            text-align: center;          
      .divancla{width: 100%;
               text-align: center;
        .ancla{width: 100px;
               text-decoration: none;
          .imgancla{align-items: center;
                    height: 80px;
                    width: 80px;
                    text-decoration: none;
                    padding: 3px;
                    margin-top: 20px;
                    margin-bottom: 5px;
                    margin-left: 10px;
                    margin-right: 10px;
     }    }  }
  
  
      .divnav{color: goldenrod;
             display: inline-block; 
             font-size: 1rem;
             font-family: "Cinzel-Regular";
             text-align: center;
        .headernav{text-align: center;
                   padding: 10px;
                   display: inline-block;
          .headernavul{display: inline-block;
             .headernavulli{display: inline-block;
               .anavheader{ color: goldenrod;
                            text-decoration: none;
                            padding: 3px;
                            margin-left: 10px;
                            margin-right: 10px;
                            border-radius: 7px;
                            border: 1px solid goldenrod; 
                            display: inline-block;                      
                            box-shadow: 11px 19px 389px 29px rgba(208,224,54,0.4);
    }}}} }}
    
  
  /*MAIN*/
  .main{background-color: black;
        color: goldenrod;  
      .section{text-align: left}
      .divimgindex{background-color: black;
        
        align-items: center;
        text-align: center;
        .imgcel{display: inline-block;
          width: 80%;
          height: auto;
          border-radius: 20px;
          text-align: center;
          align-items: center;
          margin-bottom: 35px;
          box-shadow: 8px 9px 85px 5px rgba(208,224,54,0.38);
           }  }  }
  
   .bginput{background-color: gray;
            color: rgb(5, 5, 5);
            border-radius: 3px solid rgba(255, 217, 0, 0.464);
            box-shadow: 8px 9px 85px 5px rgba(208,224,54,0.38)} 
  .h1titulo{font-size: 1.5rem;
            font-family: "Cinzel.ttf";
            text-align: center;}
  .h2titulo{font-size: medium;
            font-family: "Cinzel-Medium";}
  .h3titulo{font-size: 1.2rem;
            font-family: "Cinzel-Bold";}   
                
    .imggaleria{ height: 300px;
                 width: 222px;
                 margin: 5pxpx;}
  
   .imgmundos{object-fit: cover;
              width: 200px;
              height: 280px;
              margin-top: 20px;
              margin-bottom: 20px;
              box-shadow: 8px 8px 11px -2px rgba(230,216,43,0.7);}   
  
  .divimgposter{ display: block;
    margin: auto;
    .imgposter{display: block;
    text-align: center;
    margin: auto;
    width: 450px;
    height: auto;
    border-radius: 15px;
    margin-bottom: 35px;
    filter: grayscale(29%) sepia(58%) brightness(70%) saturate(224%) opacity(86%) drop-shadow(10px 10px 5px #000000);
    box-shadow: 8px 9px 85px 5px rgba(208,224,54,0.38)}
             }
  
  
  
  
  /*FOOTER*/
  .footer{
            background-color: rgb(6, 1, 1);
            color: goldenrod;
            text-align: center;}