/*FUENTES*/
@font-face {
    font-family: "Cinzel-Regular" "Cinzel-Medium" "Cinzel-SemiBold";
    src: url(../assets/fonts/Cinzel-Regular.ttf);
    font-family: "Lancelot-Regular";
    src: url(../assets/fonts/Lancelot-Regular.ttf);
  }
