p{ font-family:"Lancelot-Regular";
    font-size: 1.3rem;}

    .h1titulo{font-size: 1.5rem;
        font-family: "Cinzel.ttf";
        text-align: center;}
    .h2titulo{font-size: 1.3rem;
        font-family: "Cinzel-Medium.ttf";}
    .h3titulo{font-size: 1.8rem;
        font-family: "Cinzel.ttf";} 

        /*Animacion de logo y algunas imagenes*/
    .animacionLogo{
        overflow: hidden;
    }    