/*Variables*/
/*Ubicado en footer*/
$size-iconos: 3rem;


/*Detalle de variables de mapa*/
$color-texto: goldenrod;
$background-colorblack: black;
$box-shadow:11px 19px 389px 29px rgba(208,224,54,0.4);
$box-shadow-imagenes:8px 9px 85px 5px rgba(208,224,54,0.38);

/*MAPA*/
$mapa-colores: (
    color-texto: goldenrod,
    background-colorblack: black,
    box-shadow:11px 19px 389px 29px rgba(208,224,54,0.4),
    box-shadow-imagenes:8px 9px 85px 5px rgba(208,224,54,0.38),
)